#Mei {
	color: #ff3c00;
}

.carousel-inner img {
      width: 100%;
      height: auto;
 }
 
 .carousel-caption {
    top: 20%;
    bottom: auto;
    text-transform: uppercase;
    background-color: rgba(197.197.197);
}

.jumbotron {
	color: white;
	background-color: #29164d;
	background-size: cover;
	text-align: justify;
}


#tables {
	background-color: pink;
}
h3 {
	text-transform: uppercase;
}
#tables {
	background-color: black;
	border-style: 2px solid red;
}

#carousel {
	background-color: black;
	opacity: O.5;
	height: auto;
}

#vous {
	font-size: 150px;
}
.Title {
	color: red;
}

li {
	list-style: none;
}