/* GENERAL */

body {
    font-family: Helvetica, Arial, sans-serif;
}

/*.anchor{
    display:block;
    height: 5px;
    width:100%;
    visibility:hidden;
}*/

/* FIN GENERAL */

/* NAV */
.navbar{
    background-color: #0C1E73;
}

.navbar .navbar-brand {
    color: white;
    font-weight: lighter;
}

.navbar .navbar-nav > li > a {
    color: white;
    font-weight: lighter;
}

.navbar-toggler {
    color: white;
}
/* FIN NAV */

/* CAROUSEL */
 .carousel-caption{
     top: 30%;
     bottom: auto;
     font-size: x-large;
 }

.cover-date{
    font-size: large;
}

/* FIN CAROUSEL */

/* A PROPOS */

.jumbotron {
    color: white;
    background-color: #0C1E73;
    background-size: cover;
    border-radius: 0%;

}

.jumbotron p {
    font-size: large;
    font-weight: lighter;
}

hr {
    border : 0.5px solid #FFF;
}

/* FIN A PROPOS */

/* RESERVATION/MODAL */

.col-lg-4{
    border-style: solid;
    border-width: thin;
    border-color: #b9bbbe;
    padding: 10px 10px 10px 10px ;
}

/* FIN RESERVATION/MODAL */

/* PHOTOS */
#photos{
    margin-top: 20px;
}

.section_title{
    padding-top: 15px;
}


/* FIN PHOTOS */