/* GENERAL */

body {
    font-family: Helvetica, Arial, sans-serif;
}

/*.anchor{
    display:block;
    height: 5px;
    width:100%;
    visibility:hidden;
}*/

/* FIN GENERAL */

/* NAV */
.navbar{
    background-color: #29164D;
    opacity: 0.9;
}

.navbar .navbar-brand {
    color: white;
    font-weight: lighter;
}

.navbar .navbar-nav > li > a {
    color: white;
    font-weight: lighter;
}

/* FIN NAV */

/* CAROUSEL */
.carousel-caption{
     top: 30%;
     bottom: auto;
     font-size: xx-large;
 }

.cover-date{
    font-size: large;
}

/* FIN CAROUSEL */

/* A PROPOS */

.jumbotron {
    color: white;
    background-color: #29164D;
    background-size: cover;
    border-radius: 0%;

}

.jumbotron p {
    font-size: large;
    font-weight: lighter;
}

hr {
    border : 0.5px solid #FFF;
}

/* FIN A PROPOS */

/* RESERVATION/MODAL */

.col-lg-4{
    border-style: solid;
    border-width: thin;
    border-color: #b9bbbe;
    padding: 10px 10px 10px 10px ;
}

.btn-danger a {
    text-decoration: none;
    color: white;
}

.btn-danger a:hover {
    text-decoration: none;
    color: white;
}

.reservation_section{
    padding: 20px 20px 20px 20px ;
}

.reserv{
    border-style: solid;
    border-color: #869791;
    border-width: thin;
}
/* FIN RESERVATION/MODAL */

/* EVENEMENT */

.rounded-circle {
    height: 150px;
    width : 150px;
    overflow: hidden;
}

.event{
    padding:20px 20px 20px 20px ;
}


.btn-primary{
    background-color: #29164D;
    border-color: #29164D;
}

/* FIN EVENEMENT*/

/* PHOTOS */

.pb100{
    background-color: white;
}

#photos{
    margin-top: 20px;
    color: black;
}

.section_title{
    padding-top: 15px;
}

.card{
    border-style: none;
    overflow: hidden;
}

img.photozoomhover:hover {
    transform: scale(1.3);
    transition: transform ease .6s;
    cursor: pointer;
}

/* FIN PHOTOS */

/* CONTACT */

.contact{
    border-style: solid;
    border-color: #869791;
    border-width: thin;
}

/* FIN CONTACT */